{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2020",
        "parser": {
          "syntax": "typescript",
          "tsx": true,
          "decorators": false,
          "dynamicImport": true
        },
        "transform": {
          "react": {
            "runtime": "automatic",
            "useBuiltins": true
          }
        }
    },
    "minify": false
  }